/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #141922;
    color: white;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* Debug Box */

.debug-box {
    height: 50px;
    background: dodgerblue;
    border: 1px solid black;
}

/* Utility */

.upgrade-button {
    border-radius: 25px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.grey {
    color: #7d7f84;
}

.pr-10 {
    padding-right: 10px;
}

.pt-25 {
    padding-top: 25px;
}

.mb-15 {
    margin-bottom: 15px;
}




/* Header */
header {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
}

/* Main */

main {
    display: flex;
    width: 100%;
}

.main-container {
    
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main-spotify-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-spotify-navigation li {
    display: inline-block;
    padding-right: 10px;
    font-weight: 600;
}



/* Aside */

.aside-container {
    display: flex;
    flex-direction: column;
    background: black;
}

aside {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding: 25px;

}

aside li {
    margin-bottom: 15px;
}

.spotify-logo img {
    width: 70%;
}

.spotify-playlist {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}











/* Footer */

footer .debug-box {
    background-color: lightpink;
}
