/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #141922;
}

/* Debug Box */

.debug-box {
    height: 50px;
    background: dodgerblue;
    border: 1px solid black;
}

/* Utility */

.upgrade-button {
    border-radius: 25px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
}



/* Header */
header {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
}



/* Main */

main {
    display: flex;
    width: 100%;
}

.main-container {
    
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.main-container .debug-box {
    background-color: rebeccapurple;
}

/* Aside */

.aside-container {
    display: flex;
    flex-direction: column;
    background: black;
   
    
}

aside {
    width: 250px;
}

aside .debug-box {
    background: gold;
}

/* Footer */

footer .debug-box {
    background-color: lightpink;
}
